@page "/"
@using Core
@using Shared
@using WebAppServer

@inject ISearchLogic searchLogic
@inject NavigationManager NavigationManager

<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <InputText @bind-Value="loginModel.Username" placeholder="Username" /><br>
    <InputText @bind-Value="loginModel.Password" placeholder="Password" type="password" /><br>
    <button type="submit">Login</button>
</EditForm>

@if (loginResult == false)
{
    <p>Login failed, either username or password was incorrect!</p>
}

@code {
    private LoginModel loginModel = new LoginModel();
    private bool? loginResult;

    private void HandleLogin()
    {
        loginResult = searchLogic.WebPageLogIn(loginModel.Username, loginModel.Password);
        if (loginResult == true)
        {
            NavigationManager.NavigateTo("/search");
        }
    }
}
